
<%- include("partials/header"); -%>

<main class="container">
    <h1>Sojourn(al)er</h1>
    <p>Welcome to the temporary journal. A journal of entries from around the world meant to be forgotten...</p>

    <hr />

    <!-- List all posts -->
    <% posts.forEach(function(post){ %>
        <h3><%= post.title %></h3>
        <p>
            <%= post.content.substring(0, 100) + ' ...' %>
            <a href="/<%= post.title %>">More</a>
        </p>
    <% }); %>

</main>

<%- include("partials/footer"); -%>
